@import '../../main.scss';

.timers-create {
    margin-top: 15px;
}

.timer-colon {
    font-weight: bold;
    font-size: 1.4rem;
    color: $gray-100;
}

.timer-form-group {
    margin-bottom: 0px !important;
}

.timer-button {
    margin-top: 15px;
}