@import '../../main.scss';

.deck-button-container {
  margin: 0px 15px 0px 0px;
  width: 100%;
}

.deck-button-container:last-child {
  margin: 0px;
}

.deck-button {
  padding: 0px 0px 100% 0px !important;
}