.deck {
    margin-top: 15px;
}

.deck-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    margin-top: 10px;
}