@import '../../main.scss';

.image-panel {
    margin-top: 15px;
}

.image-form-group {
    margin-top: 0px;
}

.image-form-buttons {
    margin-top: 15px;
}

.image-preview-border {
    border: 2px dashed $secondary;
}

@include media-breakpoint-down(xs) {
    .image-form-group {
        margin-top: 15px;
    }

    .image-preview-col {
        height: 100px;
    }
}