.producers-panel {
    margin-top: 15px;
    margin-bottom: 15px;
}

.producers-toggle {
    margin-top: 15px;
}

.producers-toggle-label {
    padding-top: 6px;
}

.producers-toggle-panel {
    margin-top: 15px;
}

.producers-toggle-switch > div {
    width: 100% !important;
}

.producers-button {
    margin-top: 15px;
}